body {
    margin: 0 auto;
    color:#000;
	background-color:#fff;
    font: 12px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #777;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */

// injector
// endinjector
